.home {
  max-width: 1000px;
  margin: 0 auto;
  header {
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #dddddd;
      margin: auto;
      padding: 16px 0;
      .logo {
        display: flex;
        align-items: center;
        .icon {
          width: 32px;
          height: 32px;
        }
        .title {
          margin: 0 0 0 16px;
          font-weight: 700;
        }
      }
      .user {
        cursor: pointer;
      }
    }
  }
  main.home-main {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
