
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.home {
  max-width: 1000px;
  margin: 0 auto;

  header {
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #dddddd;
      margin: auto;
      padding: 16px 0;

      .logo {
        display: flex;
        align-items: center;

        .icon {
          width: 48px;
          height: 48px;
        }

        .title {
          margin: 0 0 0 8px;
          font-weight: 700;
        }
      }

      .user {
        cursor: pointer;
        .desc {
          &.active {
            display: none;
          }
        }
        .refresh {
          margin: 0 16px;
          &.active {
            animation: 3s linear spin infinite;
          }
        }
      }
    }
  }

  main.home-main {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media all and (max-width: 1000px) {
    padding: 16px;
    header .nav {
      padding-top: 0;
    }
    main.home-main {
      margin-top: 16px;
      flex-direction: column;
    }
  }
}

