.todos {
  padding: 16px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  max-width: calc(50% - 4px);
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1),
              -1px -1px 3px rgba(0,0,0,0.1);
  .todoLists {
    padding-top: 16px;
  }
}
